
.form-create-receipt {
  .del-member-icon {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
  }
  .add-member-icon {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
  }
}
